.parent-tips{
    position: absolute;
    left: 0;
    right: 0;
    top: -50px;
}
.global-msg-tips {
    z-index: 30;
    margin:0 auto;
    width: 380px;
    height: 50px;
    color: #fff;
    font-size: 16px;
    animation: tips_animate 3s ease-in-out;
    border-radius: 6px;
    display: flex;
    align-items: center;
    padding: 0 20px;
}
.global-msg-tips img{
    width:16px;
    height:16px;
    margin-right:10px;
}
@keyframes tips_animate {
    0% {
        transform: translateY(0px);
    }
    10% {
        transform: translateY(120px);
    }
    20% {
        transform: translateY(120px);
    }
    30% {
        transform: translateY(120px);
    }
    40% {
        transform: translateY(120px);
    }
    50% {
        transform: translateY(120px);
    }
    60% {
        transform: translateY(120px);
    }
    70% {
        transform: translateY(120px);
    }
    80% {
        transform: translateY(120px);
    }
    90% {
        transform: translateY(120px);
    }
    100% {
        transform: translateY(0px);
    }
}
.warn {
    background-color: #FDF6EC;
    border:1px solid #FAECD8;
    color: #E7A75E;
}

.success {
    background-color: #F0F9EB;
    border:1px solid #E1F3D8;
    color:#67C23A;
}
.error{
    background-color: #FEF0F0;
    border:1px solid #FDE2E2;
    color:#F56C6C;
}